html {
    box-sizing: border-box;
}

*,
**::before,
**::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.main__title {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 20px;
}

.title {
    font-family: Inter;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
/* ========================================================= */

.header {
    padding: 40px 0;
    background: linear-gradient(180deg, #CADBEB 0%, rgba(235, 235, 235, 0.00) 100%);
    position: relative;
}
.container {
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
}
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__list {
    display: flex;
    gap: 40px;
    align-items: center;
}
.menu__item {
}
.menu__link {
    color: #000;
}
.menu__link:hover {
    text-decoration: underline;
}
.header__btn {
    text-transform: uppercase;
    background-color: #c2572c;
    color: #fff;
    padding: 15px 58px;
    border-radius: 20px;
    font-weight: 700;
}
.header__btn:hover {
    background-color: #e37106;
}

/* ========================================================= */

.top {
    
}
.top__text {
}

.top--Air {
}
.top--Pod {
}
.top--S {
}
.top--M {
}
.top--AX {
}

.top__image img {
    text-align: center;
    width: 100%;
}

/* ========================================================= */

.choose__color {
    padding: 46px 0 180px;
}
.container {
}
.choose__inner {
    width: 558px;
    text-align: center;
    margin: 0 auto;
}
.choose__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}
.choose__text {
    margin-bottom: 80px;
}
.choose__items {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.choose__item {
    padding: 50px 55px;
    border-radius: 20px;
    border: 1px solid #777;
    background: rgba(217, 217, 217, 0.00);
}
.choose__img img {
    width: 100%;
}
/* ========================================================= */
/* ========================================================= */
/* ========================================================= */
/* ========================================================= */
/* ========================================================= */

.footer {
    background-color: #000;
    color: #fff;
    padding: 50px 40px;
    font-weight: 700;
    font-family: "Inter";
}
.container {
}
.footer__inner {
    text-align: center;
    margin-bottom: 80px;
}

.footer__title {
    margin-bottom: 20px;
}
.footer__text {
    margin-bottom: 20px;
}
.footer__logo {
}

.footer__menu {
}
.footer__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.footer__item {
}
.footer__link {
    color: #fff;
}
.footer__link:hover {
    text-decoration: underline;
}

/* ========================================================= */

@media (max-width: 1200px) {
    .choose__items {
        flex-wrap: wrap;
    }
}
/* ========================================================= */
/* ========================================================= */

@media (max-width: 600px) {
    .header {
        padding-bottom: 0;
    }

    .choose__color {
        padding-top: 0;
    }
    .choose__inner {
        width: 450px;
    }
}
/* ========================================================= */
@media (max-width: 540px) {
    .header__inner {
        align-items: flex-start;
    }
    .menu__list {
        flex-wrap: wrap;
        gap: 40px 20px;
    }
    .menu__item:first-child {
        margin-left: auto;
    }
    .menu__item-btn {
        margin-left: auto;
    }
    .menu__item-btn button {
        width: 250px;
    }

    .footer__list {
        text-align: center;
        padding: 0;
    }
}
/* ========================================================= */
@media (max-width: 470px) {
    .choose__inner {
        width: 350px;
    }
    .choose__text {
        margin-bottom: 40px;
    }
}
/* ========================================================= */
/* ========================================================= */
