html {
    box-sizing: border-box;
}

*,
**::before,
**::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.main__title {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 20px;
}

.title {
    font-family: Inter;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
/* ========================================================= */

.header {
    padding: 40px 0;
}
.container {
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
}
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__list {
    display: flex;
    gap: 40px;
    align-items: center;
}
.menu__item {
}
.menu__link {
    color: #000;
}
.menu__link:hover {
    text-decoration: underline;
}
.header__btn {
    text-transform: uppercase;
    background-color: #e37106;
    color: #fff;
    padding: 15px 58px;
    border-radius: 20px;
    font-weight: 700;
}
.header__btn:hover {
    background-color: #ef7706;
}

/* ========================================================= */
/* ========================================================= */
/* ========================================================= */
/* ========================================================= */
/* ========================================================= */
/* ========================================================= */
/* ========================================================= */

.footer {
    background-color: #000;
    color: #fff;
    padding: 50px 40px;
    font-weight: 700;
    font-family: "Inter";
}
.container {
}
.footer__inner {
    text-align: center;
    margin-bottom: 80px;
}

.footer__title {
    margin-bottom: 20px;
}
.footer__text {
    margin-bottom: 20px;
}
.footer__logo {
}

.footer__menu {
}
.footer__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.footer__item {
}
.footer__link {
    color: #fff;
}
.footer__link:hover {
    text-decoration: underline;
}

/* ========================================================= */

@media (max-width: 540px) {
    .header__inner {
        align-items: flex-start;
    }
    .menu__list {
        flex-wrap: wrap;
        gap: 40px 20px;
    }
    .menu__item:first-child {
        margin-left: auto;
    }
    .menu__item-btn {
        margin-left: auto;
    }
    .menu__item-btn button {
        width: 250px;
    }

    .footer__list {
        text-align: center;
        padding: 0;
    }
}
/* ========================================================= */
/* ========================================================= */
/* ========================================================= */
